html {
    background-color: black;
    overflow: hidden;
}

body {
    margin: 0;
}

video {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

#overlay {
    background-color: transparent !important;
    color: white;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 70vh;
    display: flex;
}

#menu {
    position: relative;
    width: 100vw;
    font-size: 2rem;
    z-index: 2;
}

#title {
    padding: 2vh 2vw;
    margin: 0;
    color: white;
    background-color: rgb(21, 47, 141);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

#navigation {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2vh 0;
    width: 100vw;
    height: fit-content;
    z-index: 3;
}

#navigation * {
    padding: 1rem 5vw;
    font-size: 4vh;
    border-radius: 1rem;
}

#back {
    float: left;
    margin: 0 auto 0 2rem;
}

#forward {
    float: right;
    margin: 0 2rem 0 auto;
}

#playbox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

#play {
    position: relative;
    width: 20vmax;
    height: 20vmax;
    border-radius: 100%;
    z-index: 2;
}

#play, #navigation * {
    background-color: rgba(255, 255, 255, 0.461);
    cursor: default;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

#play:hover, #navigation *:hover:not([disabled]) {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#play img {
    width: 100%;
    display: block;
}


#decision-overlay {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100vw;
    z-index: 3;
}

#decision-overlay * {
    background-color: rgba(126, 134, 147, 0.655);
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 3vmax;
    border-radius: 1rem;
    cursor: default;
    padding: 0;
    margin: 0;
    width: 45vw;
    height: 33vh;
}

#choice1 {
    margin: 0 auto 0 4vw;
}

#choice2 {
    margin: 0 4vw 2vh auto;
}

#decision-overlay *:hover {
    background-color: rgba(190, 190, 190, 0.765);
    color: black;
    cursor: pointer;
}
